In [1]:
import pandas as pd

In [2]:
D_dribble1=pd.read_csv('D_dribble1.csv')
D_dribble1

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg)
0,0.000000,3.428497,9.112331,-2.047042,9.948847,101.873802,69.381287
1,0.009703,3.447650,9.285912,-2.331953,10.176072,103.247643,69.631172
2,0.019734,3.506308,9.212888,-2.244564,10.109875,102.827530,69.163811
3,0.029704,3.703830,8.972271,-1.990779,9.908744,101.590256,67.568748
4,0.039805,3.902549,8.799889,-1.545457,9.749685,99.120628,66.083809
...,...,...,...,...,...,...,...
984,9.879907,3.989937,8.725668,-0.760159,9.624694,94.529945,65.427071
985,9.889970,4.096479,8.585608,-0.766145,9.543624,94.604553,64.492638
986,9.900604,4.034230,8.754398,-0.822408,9.674236,94.876610,65.258652
987,9.910431,3.951630,9.159019,-1.513135,10.089231,98.625496,66.662369
988,9.919714,3.681085,9.283517,-2.084153,10.201851,101.788033,68.370766

In [3]:
D_dribble1['person']='D'
D_dribble1

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg),person
0,0.000000,3.428497,9.112331,-2.047042,9.948847,101.873802,69.381287,D
1,0.009703,3.447650,9.285912,-2.331953,10.176072,103.247643,69.631172,D
2,0.019734,3.506308,9.212888,-2.244564,10.109875,102.827530,69.163811,D
3,0.029704,3.703830,8.972271,-1.990779,9.908744,101.590256,67.568748,D
4,0.039805,3.902549,8.799889,-1.545457,9.749685,99.120628,66.083809,D
...,...,...,...,...,...,...,...,...
984,9.879907,3.989937,8.725668,-0.760159,9.624694,94.529945,65.427071,D
985,9.889970,4.096479,8.585608,-0.766145,9.543624,94.604553,64.492638,D
986,9.900604,4.034230,8.754398,-0.822408,9.674236,94.876610,65.258652,D
987,9.910431,3.951630,9.159019,-1.513135,10.089231,98.625496,66.662369,D
988,9.919714,3.681085,9.283517,-2.084153,10.201851,101.788033,68.370766,D

In [4]:
Jc_dribble1=pd.read_csv('Jc_dribble1.csv')
Jc_dribble1

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg)
0,0.000000,2.408567,9.160215,2.091335,9.699713,77.548805,75.268234
1,0.010276,2.480393,9.381680,1.922544,9.892646,78.793785,75.190605
2,0.020068,2.408567,9.312247,1.859098,9.796703,79.060776,75.498520
3,0.029997,2.384625,9.289502,1.892616,9.775648,78.836746,75.602974
4,0.040009,2.408567,9.193734,1.976413,9.707325,78.252434,75.319618
...,...,...,...,...,...,...,...
1062,10.660111,2.153584,9.508572,1.883040,9.929586,79.068268,77.238457
1063,10.670050,2.024297,9.414001,1.812411,9.798267,79.340469,77.864449
1064,10.679997,1.962048,9.312247,1.794454,9.684402,79.321770,78.102066
1065,10.689991,2.012326,9.255983,1.892616,9.659435,78.700684,77.734306
1066,10.700464,2.191892,9.132683,2.503138,9.719875,75.076584,76.503983

In [5]:
Jc_dribble1['person']='Jc'
Jc_dribble1

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg),person
0,0.000000,2.408567,9.160215,2.091335,9.699713,77.548805,75.268234,Jc
1,0.010276,2.480393,9.381680,1.922544,9.892646,78.793785,75.190605,Jc
2,0.020068,2.408567,9.312247,1.859098,9.796703,79.060776,75.498520,Jc
3,0.029997,2.384625,9.289502,1.892616,9.775648,78.836746,75.602974,Jc
4,0.040009,2.408567,9.193734,1.976413,9.707325,78.252434,75.319618,Jc
...,...,...,...,...,...,...,...,...
1062,10.660111,2.153584,9.508572,1.883040,9.929586,79.068268,77.238457,Jc
1063,10.670050,2.024297,9.414001,1.812411,9.798267,79.340469,77.864449,Jc
1064,10.679997,1.962048,9.312247,1.794454,9.684402,79.321770,78.102066,Jc
1065,10.689991,2.012326,9.255983,1.892616,9.659435,78.700684,77.734306,Jc
1066,10.700464,2.191892,9.132683,2.503138,9.719875,75.076584,76.503983,Jc

In [6]:
L_dribble1=pd.read_csv('L_dribble1.csv')
L_dribble1

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg)
0,0.000000,2.377442,9.453506,1.665167,9.889073,80.306091,75.883545
1,0.009932,2.243367,9.391256,1.742979,9.811543,79.767342,76.565056
2,0.019917,2.212242,9.388862,1.698686,9.794400,80.012436,76.741562
3,0.029916,2.023100,9.193734,1.583764,9.545994,80.449966,77.589737
4,0.040062,1.839944,8.949526,1.574188,9.271325,80.224335,78.382370
...,...,...,...,...,...,...,...
1117,11.190136,3.116054,9.214086,1.195904,9.799967,82.990646,71.315300
1118,11.200266,3.192668,9.282320,1.169568,9.885468,83.205315,71.019264
1119,11.210311,3.262100,9.399636,1.155202,10.016435,83.377304,70.860909
1120,11.220973,3.289633,9.472659,1.187524,10.097681,83.246178,70.849083
1121,11.231555,3.264494,9.520543,1.329979,10.152167,82.472359,71.073700

In [7]:
L_dribble1['person']='L'
L_dribble1

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg),person
0,0.000000,2.377442,9.453506,1.665167,9.889073,80.306091,75.883545,L
1,0.009932,2.243367,9.391256,1.742979,9.811543,79.767342,76.565056,L
2,0.019917,2.212242,9.388862,1.698686,9.794400,80.012436,76.741562,L
3,0.029916,2.023100,9.193734,1.583764,9.545994,80.449966,77.589737,L
4,0.040062,1.839944,8.949526,1.574188,9.271325,80.224335,78.382370,L
...,...,...,...,...,...,...,...,...
1117,11.190136,3.116054,9.214086,1.195904,9.799967,82.990646,71.315300,L
1118,11.200266,3.192668,9.282320,1.169568,9.885468,83.205315,71.019264,L
1119,11.210311,3.262100,9.399636,1.155202,10.016435,83.377304,70.860909,L
1120,11.220973,3.289633,9.472659,1.187524,10.097681,83.246178,70.849083,L
1121,11.231555,3.264494,9.520543,1.329979,10.152167,82.472359,71.073700,L

In [8]:
all_dribblel_dataset=pd.concat([D_dribble1,Jc_dribble1, L_dribble1], ignore_index=True)
all_dribblel_dataset

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg),person
0,0.000000,3.428497,9.112331,-2.047042,9.948847,101.873802,69.381287,D
1,0.009703,3.447650,9.285912,-2.331953,10.176072,103.247643,69.631172,D
2,0.019734,3.506308,9.212888,-2.244564,10.109875,102.827530,69.163811,D
3,0.029704,3.703830,8.972271,-1.990779,9.908744,101.590256,67.568748,D
4,0.039805,3.902549,8.799889,-1.545457,9.749685,99.120628,66.083809,D
...,...,...,...,...,...,...,...,...
3173,11.190136,3.116054,9.214086,1.195904,9.799967,82.990646,71.315300,L
3174,11.200266,3.192668,9.282320,1.169568,9.885468,83.205315,71.019264,L
3175,11.210311,3.262100,9.399636,1.155202,10.016435,83.377304,70.860909,L
3176,11.220973,3.289633,9.472659,1.187524,10.097681,83.246178,70.849083,L
3177,11.231555,3.264494,9.520543,1.329979,10.152167,82.472359,71.073700,L

In [9]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
target_encoded = encoder.fit_transform(all_dribblel_dataset['person'])
all_dribblel_dataset['person'] = target_encoded
all_dribblel_dataset

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg),person
0,0.000000,3.428497,9.112331,-2.047042,9.948847,101.873802,69.381287,0
1,0.009703,3.447650,9.285912,-2.331953,10.176072,103.247643,69.631172,0
2,0.019734,3.506308,9.212888,-2.244564,10.109875,102.827530,69.163811,0
3,0.029704,3.703830,8.972271,-1.990779,9.908744,101.590256,67.568748,0
4,0.039805,3.902549,8.799889,-1.545457,9.749685,99.120628,66.083809,0
...,...,...,...,...,...,...,...,...
3173,11.190136,3.116054,9.214086,1.195904,9.799967,82.990646,71.315300,2
3174,11.200266,3.192668,9.282320,1.169568,9.885468,83.205315,71.019264,2
3175,11.210311,3.262100,9.399636,1.155202,10.016435,83.377304,70.860909,2
3176,11.220973,3.289633,9.472659,1.187524,10.097681,83.246178,70.849083,2
3177,11.231555,3.264494,9.520543,1.329979,10.152167,82.472359,71.073700,2

In [10]:
from sklearn.utils import shuffle
all_dribblel_dataset = shuffle(all_dribblel_dataset, random_state=20)
all_dribblel_dataset

,Time (s),X (m/s2),Y (m/s2),Z (m/s2),R (m/s2),Theta (deg),Phi (deg),person
189,1.889833,4.043807,8.833407,-1.025915,9.769031,96.028152,65.402374,0
14,0.139757,3.834314,8.978256,-1.143231,9.829447,96.679001,66.874283,0
885,8.889937,-0.014365,9.495404,-3.076549,9.981386,107.952515,90.086678,0
2716,6.610820,3.404555,9.968259,2.816778,10.903734,75.028915,71.142937,2
391,3.929947,5.753267,9.440337,-0.162806,11.056517,90.843704,58.640430,0
...,...,...,...,...,...,...,...,...
1428,4.410358,4.510676,7.898471,0.828394,9.133361,84.796135,60.270084,1
2441,3.860663,1.821988,9.366117,1.753753,9.701518,79.585327,78.991753,2
2972,9.180200,7.696161,8.451532,5.232528,12.571342,65.403412,47.678280,2
271,2.710789,4.261679,8.700529,-1.106121,9.751134,96.513374,63.903538,0
2522,4.669902,4.016273,8.512584,1.829170,9.588555,79.002510,64.741859,2

In [11]:
X=all_dribblel_dataset.iloc[:,:-1]
y=all_dribblel_dataset['person']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=20)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [14]:
from sklearn.naive_bayes import GaussianNB
gaussian_nb_model = GaussianNB()
gaussian_nb_model.fit(X_train, y_train)
y_pred=gaussian_nb_model.predict(X_test)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Confusion matrix
print("Confusion Matrix")
matrix = confusion_matrix(y_test, y_pred)
print(matrix)
# Classification Report
print("\nClassification Report")
report = classification_report(y_test, y_pred)
print(report)
# Accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print('GaussianNB Classification Accuracy of the model: {:.2f}%'.format(accuracy*100))

Confusion Matrix
[[209  38  46]
 [ 45  58 203]
 [ 33  22 300]]

Classification Report
              precision    recall  f1-score   support

           0       0.73      0.71      0.72       293
           1       0.49      0.19      0.27       306
           2       0.55      0.85      0.66       355

    accuracy                           0.59       954
   macro avg       0.59      0.58      0.55       954
weighted avg       0.58      0.59      0.56       954

GaussianNB Classification Accuracy of the model: 59.43%