In [17]:
import numpy as np
import pandas as pd

In [18]:
UL_df = pd.read_csv('UEFA_CL_Player_stats.csv')
print(list(UL_df.columns))
UL_df

['Unnamed: 0', 'name', 'season', 'season year', 'team', 'rating', 'goals', 'bigChancesCreated', 'bigChancesMissed', 'assists', 'goalsAssistsSum', 'accuratePasses', 'inaccuratePasses', 'totalPasses', 'accuratePassesPercentage', 'accurateOwnHalfPasses', 'accurateOppositionHalfPasses', 'accurateFinalThirdPasses', 'keyPasses', 'successfulDribbles', 'successfulDribblesPercentage', 'tackles', 'interceptions', 'yellowCards', 'directRedCards', 'redCards', 'accurateCrosses', 'accurateCrossesPercentage', 'totalShots', 'shotsOnTarget', 'shotsOffTarget', 'groundDuelsWon', 'groundDuelsWonPercentage', 'aerialDuelsWon', 'aerialDuelsWonPercentage', 'totalDuelsWon', 'totalDuelsWonPercentage', 'minutesPlayed', 'goalConversionPercentage', 'penaltiesTaken', 'penaltyGoals', 'penaltyWon', 'penaltyConceded', 'shotFromSetPiece', 'freeKickGoal', 'goalsFromInsideTheBox', 'goalsFromOutsideTheBox', 'shotsFromInsideTheBox', 'shotsFromOutsideTheBox', 'headedGoals', 'leftFootGoals', 'rightFootGoals', 'accurateLongBalls', 'accurateLongBallsPercentage', 'clearances', 'errorLeadToGoal', 'errorLeadToShot', 'dispossessed', 'possessionLost', 'possessionWonAttThird', 'totalChippedPasses', 'accurateChippedPasses', 'touches', 'wasFouled', 'fouls', 'hitWoodwork', 'ownGoals', 'dribbledPast', 'offsides', 'blockedShots', 'passToAssist', 'saves', 'cleanSheet', 'penaltyFaced', 'penaltySave', 'savedShotsFromInsideTheBox', 'savedShotsFromOutsideTheBox', 'goalsConcededInsideTheBox', 'goalsConcededOutsideTheBox', 'punches', 'runsOut', 'successfulRunsOut', 'highClaims', 'crossesNotClaimed', 'matchesStarted', 'penaltyConversion', 'setPieceConversion', 'totalAttemptAssist', 'totalContest', 'totalCross', 'duelLost', 'aerialLost', 'attemptPenaltyMiss', 'attemptPenaltyPost', 'attemptPenaltyTarget', 'totalLongBalls', 'goalsConceded', 'tacklesWon', 'tacklesWonPercentage', 'scoringFrequency', 'yellowRedCards', 'savesCaught', 'savesParried', 'totalOwnHalfPasses', 'totalOppositionHalfPasses', 'totwAppearances', 'appearances', 'substitutionsIn', 'substitutionsOut']

,Unnamed: 0,name,season,season year,team,rating,goals,bigChancesCreated,bigChancesMissed,assists,...,scoringFrequency,yellowRedCards,savesCaught,savesParried,totalOwnHalfPasses,totalOppositionHalfPasses,totwAppearances,appearances,substitutionsIn,substitutionsOut
0,0,Robin van Persie,Champions League 13/14,13/14,manchester-united,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN
1,1,Ashley Cole,Champions League 13/14,13/14,chelsea,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5,0.0,1.0
2,2,Jos√© Antonio Reyes,UEFA Champions League 15/16,15/16,sevilla,7.250000,0,0.0,1.0,0.0,...,NaN,0.0,0.0,0.0,23.0,68.0,NaN,2,NaN,NaN
3,3,Roman Weidenfeller,Champions League 13/14,13/14,borussia-dortmund,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9,0.0,0.0
4,4,Roman Weidenfeller,Champions League 14/15,14/15,borussia-dortmund,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,7,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,5728,Ilya Zabarnyi,UEFA Champions League 20/21,20/21,dynamo-kyiv,6.533333,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,159.0,30.0,0.0,3,NaN,NaN
5729,5729,Kristian Kolcak,Champions League 13/14,13/14,slovan-bratislava,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2,0.0,0.0
5730,5730,Kristian Kolcak,Champions League 14/15,14/15,slovan-bratislava,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2,0.0,1.0
5731,5731,Bogdan V'Yunnik,UEFA Champions League 20/21,20/21,shakhtar-donetsk,0.000000,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,NaN,NaN
5732,5732,Sabua Leon Rustamovich,UEFA Champions League 20/21,20/21,fc-krasnodar,6.400000,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,1.0,0.0,2,NaN,NaN

In [19]:
UCL_df = UL_df[['name', 'season year', 'team', 'goals', 'yellowCards', 'redCards']]
UCL_df

,name,season year,team,goals,yellowCards,redCards
0,Robin van Persie,13/14,manchester-united,4,NaN,NaN
1,Ashley Cole,13/14,chelsea,0,1.0,0.0
2,Jos√© Antonio Reyes,15/16,sevilla,0,1.0,0.0
3,Roman Weidenfeller,13/14,borussia-dortmund,0,0.0,1.0
4,Roman Weidenfeller,14/15,borussia-dortmund,0,0.0,0.0
...,...,...,...,...,...,...
5728,Ilya Zabarnyi,20/21,dynamo-kyiv,0,0.0,0.0
5729,Kristian Kolcak,13/14,slovan-bratislava,0,1.0,0.0
5730,Kristian Kolcak,14/15,slovan-bratislava,0,1.0,0.0
5731,Bogdan V'Yunnik,20/21,shakhtar-donetsk,0,0.0,0.0
5732,Sabua Leon Rustamovich,20/21,fc-krasnodar,0,0.0,0.0

In [20]:
Top_scorer = pd.DataFrame(UCL_df.groupby('season year').apply(lambda x: x.sort_values(by=['goals'], ascending=False).head(1)))
Top_scorer[['season year', 'name', 'goals', 'team']]

                 season year                  name  goals               team
season year
13/14       72         13/14     Cristiano Ronaldo     17           juventus
14/15       73         14/15     Cristiano Ronaldo     10           juventus
15/16       74         15/16     Cristiano Ronaldo     16           juventus
16/17       75         16/17     Cristiano Ronaldo     12           juventus
17/18       76         17/18     Cristiano Ronaldo     15           juventus
18/19       701        18/19          Lionel Messi     12          barcelona
19/20       2072       19/20    Robert Lewandowski     15     bayern-munchen
20/21       5417       20/21  Erling Braut Haaland      4  borussia-dortmund

In [21]:
teams_goals = pd.DataFrame(UCL_df.groupby(['season year', 'team']).goals.sum()).sort_values(by=['season year', 'goals'], ascending=False)
teams_goals

                                goals
season year team
20/21       bayern-munchen         11
            barcelona               9
            borussia-mgladbach      9
            manchester-city         9
            manchester-united       8
...                               ...
13/14       rb-leipzig              0
            sp-tre-penne            0
            tottenham               0
            vfl-wolfsburg           0
            young-boys              0

[429 rows x 1 columns]

In [22]:
teams_YCards = pd.DataFrame(UCL_df.groupby(['season year', 'team']).yellowCards.sum()).sort_values(by=['season year', 'yellowCards'], ascending=False)
teams_YCards

                                    yellowCards
season year team
20/21       lazio                          11.0
            ferencvarosi-tc                10.0
            rb-leipzig                      9.0
            atletico-madrid                 8.0
            inter                           8.0
...                                         ...
13/14       olympique-de-marseille          0.0
            real-sociedad                   0.0
            rsc-anderlecht                  0.0
            sporting-cp                     0.0
            young-boys                      0.0

[429 rows x 1 columns]

In [23]:
teams_RCards = pd.DataFrame(UCL_df.groupby(['season year', 'team']).redCards.sum()).sort_values(by=['season year', 'redCards'], ascending=False)
teams_RCards

                                 redCards
season year team
20/21       paris-saint-germain       2.0
            barcelona                 1.0
            dynamo-kyiv               1.0
            juventus                  1.0
            sevilla                   1.0
...                                   ...
13/14       the-new-saints            0.0
            tottenham                 0.0
            valencia                  0.0
            vfl-wolfsburg             0.0
            young-boys                0.0

[429 rows x 1 columns]

In [25]:
Output_df = pd.DataFrame(UCL_df.groupby(['team', 'season year']).goals.sum()).sort_values(by=['team', 'goals'], ascending=False)
redCard_col = pd.DataFrame(UCL_df.groupby(['team', 'season year']).redCards.sum()).sort_values(by=['team', 'redCards'], ascending=False)
yellowCard_col =  pd.DataFrame(UCL_df.groupby(['team', 'season year']).yellowCards.sum()).sort_values(by=['team', 'yellowCards'], ascending=False)
# redCard_col
Output_df
# yellowCard_col

                                 goals
team                season year
zenit-st-petersburg 13/14           20
                    15/16           13
                    14/15           11
                    19/20            7
                    16/17            2
...                                ...
aek-athens          18/19            2
1899-hoffenheim     18/19           11
                    13/14            1
                    15/16            0
                    16/17            0

[429 rows x 1 columns]

In [26]:
Output_df['yellowCards'] = yellowCard_col['yellowCards']
Output_df['redCards'] = redCard_col['redCards']
Output_df

                                 goals  yellowCards  redCards
team                season year
zenit-st-petersburg 13/14           20         24.0       1.0
                    15/16           13         23.0       2.0
                    14/15           11         23.0       1.0
                    19/20            7         16.0       1.0
                    16/17            2          1.0       0.0
...                                ...          ...       ...
aek-athens          18/19            2         13.0       2.0
1899-hoffenheim     18/19           11         10.0       2.0
                    13/14            1          0.0       0.0
                    15/16            0          0.0       0.0
                    16/17            0          0.0       0.0

[429 rows x 3 columns]

In [27]:
Output_df.to_csv('UCL_Teams.csv')