<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [6]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [7]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [9]:
numbers_oprated = np.zeros(len(numbers))
numbers_oprated = np.where(numbers>=8.5, (-0.0051*(numbers**2) +(0.8586*numbers) +3.4332), numbers_oprated)
numbers_oprated = np.where(numbers<8.5, numbers/10 +10, numbers_oprated)
# len(numbers_oprated1)
numbers_oprated

array([10.45      , 10.78      , 10.65      , 10.05      , 10.8       ,
       10.65      , 17.9055    , 14.094825  , 10.25      , 16.5555    ,
       17.9055    , 18.236625  , 13.7331    , 13.15637709, 10.63      ,
       10.05      , 11.129625  , 14.094825  , 15.8652    , 10.25      ,
       11.886225  , 10.8       , 11.5092    , 15.516225  , 10.75      ,
       10.        , 10.1       , 11.886225  , 10.2       , 12.2607    ,
       10.3       , 14.454     , 10.35      , 17.571825  , 13.7331    ,
       10.1       , 14.810625  , 15.1647    , 10.152     , 15.516225  ,
       10.15      , 10.28      , 10.35      , 10.65      , 13.368825  ,
       14.810625  , 12.632625  , 10.8       , 11.660316  , 10.55      ,
       10.05      , 20.4831    , 10.5       , 10.05      , 16.896825  ,
       16.896825  , 16.896825  , 15.1647    , 10.45      , 16.5555    ,
       17.2356    , 11.5092    , 10.362825  , 14.454     , 17.571825  ,
       18.236625  , 16.073361  , 10.362825  , 10.        , 11.129625  ,
       10.6       , 10.2       , 10.5       , 11.129625  , 10.4       ,
       10.4       , 10.1       , 10.8       , 17.571825  , 17.2356    ,
       15.516225  , 10.45      , 10.15      , 18.5652    , 10.05      ,
       17.9055    , 10.4       , 11.129625  , 13.587696  ])

In [10]:
third_quarter = np.quantile(numbers_oprated, 0.75)
top_new_twenty_five = numbers_oprated[numbers_oprated >= third_quarter]
top_new_twenty_five

array([17.9055  , 16.5555  , 17.9055  , 18.236625, 15.8652  , 15.516225,
       17.571825, 15.1647  , 15.516225, 20.4831  , 16.896825, 16.896825,
       16.896825, 15.1647  , 16.5555  , 17.2356  , 17.571825, 18.236625,
       16.073361, 17.571825, 17.2356  , 15.516225, 18.5652  , 17.9055  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [11]:
first_quarter = np.quantile(numbers_oprated, 0.25)
down_old_twenty_five = numbers_oprated[numbers_oprated <= first_quarter]
down_old_twenty_five

array([10.05    , 10.25    , 10.05    , 10.25    , 10.      , 10.1     ,
       10.2     , 10.3     , 10.35    , 10.1     , 10.152   , 10.15    ,
       10.28    , 10.35    , 10.05    , 10.05    , 10.362825, 10.362825,
       10.      , 10.2     , 10.1     , 10.15    , 10.05    ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [12]:
dwn25 = len(down_old_twenty_five)
top25 = len(top_new_twenty_five)

res = np.subtract(top_new_twenty_five[:dwn25], down_old_twenty_five[:top25])
# len(res)
res.reshape((1, 1, len(res)))
res.shape

(23,)

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [32]:
movies = pd.read_csv("data/imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [14]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [15]:
#TODO
movies.dropna(inplace = True, axis=0)
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [16]:
#TODO
sorted_movies = movies.sort_values('duration')
sorted_movies_fifty = sorted_movies.head(50)
sorted_movies_fifty.to_csv('long_time')
sorted_movies_fifty.head()

,star_rating,title,content_rating,genre,duration,actors_list
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [18]:
#TODO
def movies_num(actor):
    count = 0
    for mov in movies['actors_list']:
        if actor in mov:
            count += 1
    return count

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [19]:
#TODO
movies.groupby('genre').star_rating.mean()

genre
Action       7.885926
Adventure    7.940541
Animation    7.914516
Biography    7.857895
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [25]:
#TODO
movies['is_long'] = (movies.duration < 150)
movies['is_long'] = movies['is_long'].astype(int)
# movies.info()
movies.to_csv('long_time_added')
movies

,star_rating,title,content_rating,genre,duration,actors_list,is_long
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [21]:
#TODO
title_list = list(movies.columns)
new_titles = []
for title in title_list:
    title = title.replace('_', ' ')
    new_titles.append(title)
# title_list
# new_titles
modified_titles = dict(zip(title_list, new_titles))
movies.rename(columns=modified_titles, inplace=True)
movies

,star rating,title,content rating,genre,duration,actors list,is long
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [22]:
#TODO
pd.DataFrame(movies.groupby('genre'))#.sort_values('star rating', ascending=False)#.head(3)

            0                                                  1
0      Action       star rating                              ...
1   Adventure       star rating                              ...
2   Animation       star rating                   title conte...
3   Biography       star rating               title content r...
4      Comedy       star rating                              ...
5       Crime       star rating                     title con...
6       Drama       star rating                            ti...
7      Family       star rating                              ...
8     Fantasy       star rating                      title co...
9   Film-Noir       star rating          title content rating...
10    History       star rating                title content ...
11     Horror       star rating                              ...
12    Mystery       star rating                     title con...
13     Sci-Fi       star rating                          titl...
14   Thriller       star rating                      title co...
15    Western       star rating                           tit...

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Nazanin" size=4>
		تنها تفاوت میان این دو مربوط به پارامتر های پیش فرض برای جداسازی داده ها می باشد.<br>
        این مقدار برای متد read_csv برابر ',' می باشد.<br>
        در حالیکه برای متد read_table برابر '/t' یا tab می باشد.
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Nazanin" size=4>
		این تابع فراوانی عناصر موجود در آرایه ها را نشان می دهد و در صورتی که دو آرایه به عنوان ورودی به تابع داده شود فراوانی عناصر را در هم ارزی یکدیگر را نشان می دهد. 
    </font>
</div>

In [26]:
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Nazanin" size=4>
        این تابع همبستگی یا correlation میان داده های دو سری یا به عبارت دیگر دو ستون از داده های دیتا فریم که بصورت عددی هستند را محاسبه می کند. 
    </font>
</div>

In [27]:
movies.corr()

             star_rating  duration   is_long
star_rating     1.000000  0.227149 -0.221328
duration        0.227149  1.000000 -0.744894
is_long        -0.221328 -0.744894  1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [28]:
#TODO
movies.value_counts('content_rating')

content_rating
R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
PASSED         7
NC-17          7
X              4
GP             3
TV-MA          1
dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [35]:
#TODO
sample_1 = movies.sample(frac=0.75)
movies.drop(sample_1.index)

,star_rating,title,content_rating,genre,duration,actors_list
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
...,...,...,...,...,...,...
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Nazanin" size=4>
        توسط این متد پارامتر های DataFrame های حاصله را میتوان تغییر داد و جدولی جدید با ساختاری جدید بوجود آورد.   
    </font>
   
</div>
     <img src= "reshaping_pivot.png">