<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=6 color=#F32500>
        <div  align=center>
            تمرین هفته دوم بوت کمپ یادگیری ماشین-
            مپصا
        </div>
        <br/>
    </font>
</div>

<div style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<div align=center>
			<font face="IranNastaliq" size=5>    
                  چون عهده نمی‌شود کسی فردا را
                <br><br>
                 حالی خوش دار این دل پر سودا را
                <br><br>
                می نوش به ماهتاب ای ماه که ماه
                <br><br>
                بسیار بتابد و نیابد ما را        			   	
                <p></p>
			</font>
        </div>
    </font>
</div>

In [4]:
import numpy as np
import pandas as pd

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال اول:‌
            </font>
        <font>
            مجموعه داده های زیر را در نظر بگیرید
        </font>
        <br/>
    </font>
</div>

In [5]:
numbers = np.array([ 4.5 , 7.8 ,  6.5,  0.5,  8. ,  6.5, 19. , 13.5,  2.5, 17. , 19. ,
       19.5, 13. ,  12.21 ,  6.3 ,  0.5,  9.5, 13.5, 16. ,  2.5, 10.5,  8. ,
       10. , 15.5,  7.5,  0. ,  1. , 10.5,  2. , 11. ,  3. , 14. ,  3.5,
       18.5, 13. ,  1. , 14.5, 15. ,  1.52 , 15.5,  1.5,  2.8 ,  3.5,  6.5,
        12.5, 14.5, 11.5,  8. ,  10.2 ,  5.5,  0.5, 23. ,  5. ,  0.5, 17.5,
       17.5, 17.5, 15. ,  4.5, 17. , 18. , 10. ,  8.5, 14. , 18.5, 19.5,
       16.3 ,  8.5,  0. ,  9.5,  6. ,  2. ,  5. ,  9.5,  4. ,  4. ,  1. ,
        8. , 18.5, 18. , 15.5,  4.5,  1.5, 20. ,  0.5, 19. ,  4. ,  9.5,
       12.8  ])

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
        برای این مجموعه داده ها قصد داریم با دو فرمول زیر مقادیر آنها را تغییر دهیم:
<br>
۱. اگر عددی کمتر از هشت و نیم است با فرمول زیر آن عدد تغییر کند:
<br>
$$ y = 10 + \frac{x}{10} $$
<br>
۲. اگر عددیبیشتر یا مساوی هشت و نیم است با فرمول زیر آن عدد تغییر کند :
<br>
$$ y =  -0.0051x^{2} + 0.8586x + 3.4332 $$
<br>
توجه کنید که حتی بعد از تغییر باید بیشینه عدد نهایتا بیشینه عدد موجود در داده فعلی باشد. 25 درصد داده های بزرگتر را در آرایه زیر بریزید
</div>

In [10]:
def less(numbers):
    max_numbers=numbers.max()
    for i in range(len(numbers)):
        if numbers[i] < 8.5:
            new_num=10+(numbers[i]/10)
            if new_num > max_numbers:
                numbers[i]=max_numbers
            else:
                numbers[i]=new_num
        else:
            new_num=((-0.0051)*(numbers[i]**2))+(0.8586*numbers[i]+3.4332)
            if new_num > max_numbers:
                numbers[i]=max_numbers
            else:
                numbers[i]=new_num 
    return numbers

def Sortby_Third_Quantile(numbers):
    numbers=less(numbers)
    numbers.sort()
    quantile_number=np.quantile(numbers,0.75)
    top_new_twenty_five=numbers[numbers>quantile_number]
    return top_new_twenty_five

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<p></p>
 25 درصد داده های کوچکتر آرایه اول را در آرایه زیر بریزید
</div>

In [10]:

def Sortby_First_Quantile(numbers):
    numbers.sort()
    quantile_number=np.quantile(numbers,0.25)
    down_old_twenty_five=numbers[numbers<quantile_number]
    return down_old_twenty_five

<div id="bayes" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
      <p></p>
        داده های متناظر دو آرایه به دست آمده را از یکدیگر کسر کنید و در یک آرایه سه بعدی که اندازه ابعاد سوم و دوم آن یک میباشد بریزید
</div>

In [11]:
#TODO

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال دوم:‌
        </font>
در این تمرین قصد داریم به تحلیل داده های فیلم های برتر سینمای جهان به معیار imdb بپردازیم. ابتدا دادههای مربوط به فیلم را از فایل csv فراخوانی میکنیم
        <br/>
    </font>
</div>

In [60]:
import pandas as pd
movies = pd.read_csv("imdb_movie_rank.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [18]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        در این دیتاست اگر داده ای وجود دارد که مقدار nullدارد سطرش را حذف کنید. 
        <br/>
    </font>
</div>

In [4]:
movies.dropna(inplace = False, axis=0)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        فیلم ها را براساس مدت زمان فیلم به صورت نزولی مرتب کنید و پنجاه تای اول را در فایل csv با نام long_time ذخیره کنید 
        <br/>
    </font>
</div>

In [9]:
long_time=movies.sort_values(['duration'], ascending=False).head(50)
long_time.to_csv('long_time')

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         تابعی بنویسید که نام بازیگر را به عنوان آرگومان بگیرد و تعداد فیلم های برتر از این لیست را که بازی کرده محاسبه کند.
        <br/>
    </font>
</div>

In [10]:
def best_movie(name):
    count=0
    for actors_list in movies["actors_list"]:
        if name in actors_list:
            count+=1   
    print(count)
best_movie('Tim Robbins')

5

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
         میانگین امتیاز فیلم ها را براساس ژانر نمایش به دست آورید.
        <br/>
    </font>
</div>

In [11]:
movies.groupby('genre').star_rating.mean()

genre
Action       7.884559
Adventure    7.933333
Animation    7.914516
Biography    7.862338
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
       ستونی به این داده ها اضافه کنید که در صورت اینکه یک فیلم مدت نمایش آن 150 دقیقه و یا بیشتر بود مقدار صفر و در غیر اینصورت 1 در هر سطر این ستون قرار گیرد. دیتافریم حاصل را در یک فایل csv ذخیره کنید.
        <br/>
    </font>
</div>

In [12]:
over150=[]
for elm in movies['duration']:
    if elm < 150:
        over150.append(1)
    else:
        over150.append(0)

movies['over150']=over150
movies

,star_rating,title,content_rating,genre,duration,actors_list,over150
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",1
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",1
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",1
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",1
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",1
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",1

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        عنوان ستونها را به نحوی تغییر دهید که در ستون های دارای _(آندرلاین) فاصله قرار گیرد. به عنوان مثال star_rating به star rating تبدیل می شود.
        <br/>
    </font>
</div>

In [18]:
movies = pd.read_csv("imdb_movie_rank.csv")
movies.columns = movies.columns.str.replace('_', " ")
movies

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        داده ها را براساس ژانر گروه بندی و مرتب کنید و از هر ژانر صرفا سه تای برتر را نمایش دهید
        <br/>
    </font>
</div>

In [40]:
#TODO

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        تفاوت بین متد read_table و read_csv در ماژول pandas چیست؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        تنها تفاوت این ۲ در sep های آن ها است جایی که در read_csv از , استفاده می شود در حالیکه در read_tabble از '\t'
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال چهارم:‌
        </font>
       توضیح دهید crosstab در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
        بطور کلی crosstab جدولی است که رابطه بین دسته بندی های مختلفی را نشان می دهد در کد زیر نیز این تابع رابه بین ژانر و درجه سنی فیلم را نشان میدهد
    </font>
</div>

In [41]:
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال پنچم:‌
        </font>
         توضیح دهید متد corr در پانداس چه میکند و عملکرد آنرا بر روی کد زیر توضیح دهید؟ 
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		از این متد برای پیدا کردن همبستگی ستون ها در dataframe استفاده میشود
    </font>
</div>

In [42]:
movies.corr()

             star_rating  duration
star_rating     1.000000  0.227149
duration        0.227149  1.000000

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال سوم:‌
        </font>
        با استفاده از متد value_counts تعداد فیلمها در هر ریت محتوا را به دست آورید.
        <br/>
    </font>
</div>

In [45]:
movies["content_rating"].value_counts()

R            460
PG-13        189
PG           123
NOT RATED     65
APPROVED      47
UNRATED       38
G             32
PASSED         7
NC-17          7
X              4
GP             3
TV-MA          1
Name: content_rating, dtype: int64

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال ششم:‌
        </font>
        با استفاده از متد sample هفتاد و پنج درصد سطرها را در یک متغیر به نام sample_1 بریزید. درنهایت با استفاده از متد drop از دیتافریم اصلی این سطرها را حذف و دیتافریم جدید را در sample_2 بریزید
        <br/>
    </font>
</div>

In [69]:
smaple_1=movies.sample(frac=0.75)
smaple_1

,star_rating,title,content_rating,genre,duration,actors_list
349,8.0,District 9,R,Action,112,"[u'Sharlto Copley', u'David James', u'Jason Co..."
278,8.1,Dog Day Afternoon,R,Crime,125,"[u'Al Pacino', u'John Cazale', u'Penelope Allen']"
592,7.7,Detachment,NOT RATED,Drama,98,"[u'Adrien Brody', u'Christina Hendricks', u'Ma..."
632,7.7,Boy A,R,Drama,106,"[u'Andrew Garfield', u'Peter Mullan', u'Shaun ..."
443,7.9,Shrek,PG,Animation,90,"[u'Mike Myers', u'Eddie Murphy', u'Cameron Diaz']"
...,...,...,...,...,...,...
803,7.6,Ghost Dog: The Way of the Samurai,R,Action,116,"[u'Forest Whitaker', u'Henry Silva', u'John To..."
274,8.1,The King's Speech,R,Biography,118,"[u'Colin Firth', u'Geoffrey Rush', u'Helena Bo..."
199,8.1,No Country for Old Men,R,Crime,122,"[u'Tommy Lee Jones', u'Javier Bardem', u'Josh ..."
259,8.1,The Help,PG-13,Drama,146,"[u'Emma Stone', u'Viola Davis', u'Octavia Spen..."
909,7.5,Harry Potter and the Sorcerer's Stone,PG,Adventure,152,"[u'Daniel Radcliffe', u'Rupert Grint', u'Richa..."

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
		<font color=red size=5>
            سوال هفتم:‌
        </font>
         متد pivot_table چه عملکردی دارد؟
        <br/>
    </font>
</div>

<div dir = "rtl" style="direction:rtl;line-height:300%;">
	<font face="XB Zar" size=4>
از pivot table برای جمع آوری دیتا از جدول با داده های زیاد استفاده میشود
    </font>
</div>